In [1]:
import pandas as np
data = np.read_csv('Dataset .csv')

In [2]:
data.isnull().sum().sum()

np.int64(9)

In [3]:
data = data.dropna()

In [4]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [5]:
data.isna().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [6]:
x = data[['Restaurant Name','Average Cost for two']]
y = data[['Cuisines']]
x

               Restaurant Name  Average Cost for two
0             Le Petit Souffle                  1100
1             Izakaya Kikufuji                  1200
2       Heat - Edsa Shangri-La                  4000
3                         Ooma                  1500
4                  Sambo Kojin                  1500
...                        ...                   ...
9546               Naml۱ Gurme                    80
9547              Ceviz A��ac۱                   105
9548                     Huqqa                   170
9549               A���k Kahve                   120
9550  Walter's Coffee Roastery                    55

[9542 rows x 2 columns]

In [7]:
y

                              Cuisines
0           French, Japanese, Desserts
1                             Japanese
2     Seafood, Asian, Filipino, Indian
3                      Japanese, Sushi
4                     Japanese, Korean
...                                ...
9546                           Turkish
9547   World Cuisine, Patisserie, Cafe
9548            Italian, World Cuisine
9549                   Restaurant Cafe
9550                              Cafe

[9542 rows x 1 columns]

In [8]:
# df = data[["Restaurant Name","Cuisines","Average Cost for two"]]
# df

In [9]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
x['Restaurant Name'] = label_encoder.fit_transform(x['Restaurant Name'])
y['Cuisines'] = label_encoder.fit_transform(y['Cuisines'])
x

C:\Users\Basavaraj M\AppData\Local\Temp\ipykernel_21088\1378946043.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Restaurant Name'] = label_encoder.fit_transform(x['Restaurant Name'])
C:\Users\Basavaraj M\AppData\Local\Temp\ipykernel_21088\1378946043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['Cuisines'] = label_encoder.fit_transform(y['Cuisines'])

      Restaurant Name  Average Cost for two
0                3742                  1100
1                3167                  1200
2                2892                  4000
3                4700                  1500
4                5515                  1500
...               ...                   ...
9546             4436                    80
9547             1310                   105
9548             3063                   170
9549              512                   120
9550             7231                    55

[9542 rows x 2 columns]

In [10]:
y

      Cuisines
0          920
1         1111
2         1671
3         1126
4         1122
...        ...
9546      1813
9547      1824
9548      1110
9549      1657
9550       331

[9542 rows x 1 columns]

# test and train

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x=scaler.fit_transform(x)

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

# modeling algorithm

In [13]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

rfc.fit(x_train, y_train)


prede = rfc.predict(x_test)

C:\Users\Basavaraj M\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [14]:
#export the model and create simotor
import joblib
joblib.dump(prede,"model3.pkl")

['model3.pkl']

In [15]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

accuracy = accuracy_score(y_test, prede)
print(f"Accuracy: {accuracy:.2f}")

# Precision, recall, F1-score
precision = precision_score(y_test, prede, average='micro')
recall = recall_score(y_test, prede, average='micro')
f1 = f1_score(y_test, prede, average='micro')
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1-score: {f1:.2f}")

Accuracy: 0.25
Precision: 0.25
Recall: 0.25
F1-score: 0.25

In [16]:
#export the model and create simotor
import joblib
joblib.dump(prede,"model3.pkl")

['model3.pkl']

In [17]:
joblib.dump(scaler,"t3scaler.pkl")

['t3scaler.pkl']